<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>mypakge.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>mypakge.Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify_user</servlet-name>
        <servlet-class>mypakge.Verify_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveImage</servlet-name>
        <servlet-class>mypakge.SaveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImage</servlet-name>
        <servlet-class>mypakge.ShowImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImage</servlet-name>
        <servlet-class>mypakge.ViewImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Donate</servlet-name>
        <servlet-class>mypakge.Donate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDonation</servlet-name>
        <servlet-class>mypakge.ShowDonation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDonation</servlet-name>
        <servlet-class>mypakge.ViewDonation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveImage</servlet-name>
        <servlet-class>mypakge.RemoveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingInformation</servlet-name>
        <servlet-class>mypakge.TrainingInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify_user</servlet-name>
        <url-pattern>/Verify_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveImage</servlet-name>
        <url-pattern>/SaveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImage</servlet-name>
        <url-pattern>/ShowImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImage</servlet-name>
        <url-pattern>/ViewImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Donate</servlet-name>
        <url-pattern>/Donate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDonation</servlet-name>
        <url-pattern>/ShowDonation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDonation</servlet-name>
        <url-pattern>/ViewDonation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveImage</servlet-name>
        <url-pattern>/RemoveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingInformation</servlet-name>
        <url-pattern>/TrainingInformation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
